In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [2]:
sixteen_df = pd.read_csv('./uscho_games_2016.csv',header=None)
sixteen_df['season'] = pd.Series(2016, index=sixteen_df.index)
seventeen_df = pd.read_csv('./uscho_games_2017.csv',header=None)
seventeen_df['season'] = pd.Series(2017, index=seventeen_df.index)
eighteen_df = pd.read_csv('./uscho_games_2018.csv',header=None)
eighteen_df['season'] = pd.Series(2018, index=eighteen_df.index)
eighteen_df = eighteen_df.dropna(subset=[9])

df = pd.concat([sixteen_df,seventeen_df,eighteen_df],ignore_index=True)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,season
0,2016,Wed.,NaN,9/23/2015,5:00 ET,McGill,NaN,NaN,McGill,2.0,...,/team/st-lawrence/womens-hockey/,St. Lawrence,4.0,NaN,NaN,EX,Box,NaN,NaN,2016
1,2016,Thu.,NaN,9/24/2015,7:00 ET,Guelph,NaN,NaN,Guelph,0.0,...,/team/penn-state/womens-hockey/,Penn State,1.0,NaN,NaN,EX,Box,NaN,NaN,2016
2,2016,Fri.,NaN,9/25/2015,7:07 CT,Robert Morris,robert-morris,/team/robert-morris/womens-hockey/,Robert Morris,1.0,...,/team/bemidji-state/womens-hockey/,(9) Bemidji State,3.0,NaN,NaN,NC,Box,NaN,NaN,2016
3,2016,Fri.,NaN,9/25/2015,7:07 CT,Union,union,/team/union/womens-hockey/,Union,2.0,...,/team/minnesota-state/womens-hockey/,Minnesota State,2.0,OT,NaN,NC,Box,NaN,NaN,2016
4,2016,Fri.,NaN,9/25/2015,7:00 ET,Guelph,NaN,NaN,Guelph,1.0,...,/team/boston-college/womens-hockey/,(2) Boston College,5.0,NaN,NaN,EX,Box,NaN,NaN,2016

In [4]:
df = df[[8,9,14,15,'season']]

In [5]:
df.head()

               8    9                  14   15  season
0         McGill  2.0        St. Lawrence  4.0    2016
1         Guelph  0.0          Penn State  1.0    2016
2  Robert Morris  1.0   (9) Bemidji State  3.0    2016
3          Union  2.0     Minnesota State  2.0    2016
4         Guelph  1.0  (2) Boston College  5.0    2016

In [6]:
df = df.rename(columns={8: 'team', 9: 'teamscore', 14: 'opponent', 15: 'oppscore'})

In [7]:
df.head()

            team  teamscore            opponent  oppscore  season
0         McGill        2.0        St. Lawrence       4.0    2016
1         Guelph        0.0          Penn State       1.0    2016
2  Robert Morris        1.0   (9) Bemidji State       3.0    2016
3          Union        2.0     Minnesota State       2.0    2016
4         Guelph        1.0  (2) Boston College       5.0    2016

In [8]:
df['weights'] = (df['season']-2012)
df['weights'] = df['weights'].apply(lambda x: math.factorial(x))

In [9]:
df.head()

            team  teamscore            opponent  oppscore  season  weights
0         McGill        2.0        St. Lawrence       4.0    2016       24
1         Guelph        0.0          Penn State       1.0    2016       24
2  Robert Morris        1.0   (9) Bemidji State       3.0    2016       24
3          Union        2.0     Minnesota State       2.0    2016       24
4         Guelph        1.0  (2) Boston College       5.0    2016       24

In [10]:
df['location'] = 'V'

In [11]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location
0,McGill,2.0,St. Lawrence,4.0,2016,24,V
1,Guelph,0.0,Penn State,1.0,2016,24,V
2,Robert Morris,1.0,(9) Bemidji State,3.0,2016,24,V
3,Union,2.0,Minnesota State,2.0,2016,24,V
4,Guelph,1.0,(2) Boston College,5.0,2016,24,V

In [12]:
import re

In [13]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location
0,McGill,2.0,St. Lawrence,4.0,2016,24,V
1,Guelph,0.0,Penn State,1.0,2016,24,V
2,Robert Morris,1.0,(9) Bemidji State,3.0,2016,24,V
3,Union,2.0,Minnesota State,2.0,2016,24,V
4,Guelph,1.0,(2) Boston College,5.0,2016,24,V

In [14]:
df['team'] = df['team'].apply(lambda x: re.sub("[\(\[].*?[\)\]]", "", x))
df['team'] = df['team'].apply(lambda x: x.lstrip())

df['opponent'] = df['opponent'].apply(lambda x: re.sub("[\(\[].*?[\)\]]", "", x))
df['opponent'] = df['opponent'].apply(lambda x: x.lstrip())

In [15]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location
0,McGill,2.0,St. Lawrence,4.0,2016,24,V
1,Guelph,0.0,Penn State,1.0,2016,24,V
2,Robert Morris,1.0,Bemidji State,3.0,2016,24,V
3,Union,2.0,Minnesota State,2.0,2016,24,V
4,Guelph,1.0,Boston College,5.0,2016,24,V

In [16]:
df['scorediff'] = (df['teamscore']-df['oppscore'])

In [17]:
df['location'] = df['location'].replace('V',-1)
df['location'] = df['location'].replace('N',0)
df['location'] = df['location'].replace('H',1)

In [18]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location,scorediff
0,McGill,2.0,St. Lawrence,4.0,2016,24,-1,-2.0
1,Guelph,0.0,Penn State,1.0,2016,24,-1,-1.0
2,Robert Morris,1.0,Bemidji State,3.0,2016,24,-1,-2.0
3,Union,2.0,Minnesota State,2.0,2016,24,-1,0.0
4,Guelph,1.0,Boston College,5.0,2016,24,-1,-4.0

In [19]:
df1 = df.copy()
df1.head()

,team,teamscore,opponent,oppscore,season,weights,location,scorediff
0,McGill,2.0,St. Lawrence,4.0,2016,24,-1,-2.0
1,Guelph,0.0,Penn State,1.0,2016,24,-1,-1.0
2,Robert Morris,1.0,Bemidji State,3.0,2016,24,-1,-2.0
3,Union,2.0,Minnesota State,2.0,2016,24,-1,0.0
4,Guelph,1.0,Boston College,5.0,2016,24,-1,-4.0

In [20]:
df1 = df1.rename(columns={'team': 'opponent', 'teamscore': 'oppscore', 'opponent': 'team', 'oppscore':'teamscore'})

In [21]:
df1.head()

,opponent,oppscore,team,teamscore,season,weights,location,scorediff
0,McGill,2.0,St. Lawrence,4.0,2016,24,-1,-2.0
1,Guelph,0.0,Penn State,1.0,2016,24,-1,-1.0
2,Robert Morris,1.0,Bemidji State,3.0,2016,24,-1,-2.0
3,Union,2.0,Minnesota State,2.0,2016,24,-1,0.0
4,Guelph,1.0,Boston College,5.0,2016,24,-1,-4.0

In [22]:
df1['scorediff'] = df1['scorediff'].apply(lambda x: x*-1)
df1['location'] = df1['location'].apply(lambda x: x*-1)

In [23]:
df1.head()

,opponent,oppscore,team,teamscore,season,weights,location,scorediff
0,McGill,2.0,St. Lawrence,4.0,2016,24,1,2.0
1,Guelph,0.0,Penn State,1.0,2016,24,1,1.0
2,Robert Morris,1.0,Bemidji State,3.0,2016,24,1,2.0
3,Union,2.0,Minnesota State,2.0,2016,24,1,-0.0
4,Guelph,1.0,Boston College,5.0,2016,24,1,4.0

In [24]:
df.shape

(3437, 8)

In [25]:
df1.shape

(3437, 8)

In [26]:
df = pd.concat([df,df1],ignore_index=True)

In [27]:
df.head()

,location,opponent,oppscore,scorediff,season,team,teamscore,weights
0,-1,St. Lawrence,4.0,-2.0,2016,McGill,2.0,24
1,-1,Penn State,1.0,-1.0,2016,Guelph,0.0,24
2,-1,Bemidji State,3.0,-2.0,2016,Robert Morris,1.0,24
3,-1,Minnesota State,2.0,0.0,2016,Union,2.0,24
4,-1,Boston College,5.0,-4.0,2016,Guelph,1.0,24

In [28]:
df = df[~df.team.str.contains("/")]
df = df[~df.opponent.str.contains("/")]

In [29]:
# create dummy variables, need to do this in python b/c does not handle automatically like R
team_dummies = pd.get_dummies(df.team, prefix='team')
opponent_dummies = pd.get_dummies(df.opponent, prefix='opponent')

df = pd.concat([df, team_dummies, opponent_dummies], axis=1)

In [30]:
df.head()

,location,opponent,oppscore,scorediff,season,team,teamscore,weights,team_Adrian,team_Amherst,...,opponent_Whitby,opponent_Whitby Wolves,opponent_William Smith,opponent_Williams,opponent_Wisconsin,opponent_Wisconsin-Eau Claire,opponent_Wisconsin-River Falls,opponent_Wisconsin-Stevens Point,opponent_Wisconsin-Superior,opponent_Yale
0,-1,St. Lawrence,4.0,-2.0,2016,McGill,2.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,Penn State,1.0,-1.0,2016,Guelph,0.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,Bemidji State,3.0,-2.0,2016,Robert Morris,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,Minnesota State,2.0,0.0,2016,Union,2.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,Boston College,5.0,-4.0,2016,Guelph,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df = df.dropna(subset=['scorediff','weights'])

In [32]:
# make the training data
X = df.drop(['team','opponent','teamscore','oppscore','season','weights','scorediff'], axis=1)
y = df['scorediff']
weights = df['weights']

In [33]:
X.head()

,location,team_Adrian,team_Amherst,team_Augsburg,team_Aurora,team_Barrie,team_Barrie Jr. Sharks,team_Becker,team_Bemidji State,team_Bethel,...,opponent_Whitby,opponent_Whitby Wolves,opponent_William Smith,opponent_Williams,opponent_Wisconsin,opponent_Wisconsin-Eau Claire,opponent_Wisconsin-River Falls,opponent_Wisconsin-Stevens Point,opponent_Wisconsin-Superior,opponent_Yale
0,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge()
ridge_reg.fit(X, y, sample_weight=weights)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [35]:
# get the R^2 value
r_squared = ridge_reg.score(X, y, sample_weight=weights)
print('R^2 on the training data:')
print(r_squared)

R^2 on the training data:
0.672327928914

In [36]:
# get the coefficients for each feature
coef_data = list(zip(X.columns,ridge_reg.coef_))
coef_df = pd.DataFrame(coef_data,columns=['feature','feature_coef'])
coef_df.head()

         feature  feature_coef
0       location      0.215872
1    team_Adrian      3.844385
2   team_Amherst      1.246726
3  team_Augsburg      3.144367
4    team_Aurora     -4.526499

In [37]:
# first get rid of opponent_ variables
team_df = coef_df[~coef_df['feature'].str.contains("opponent")]

# get rid of the location variable
team_df = team_df.iloc[1:]

In [38]:
# rank them by coef, not alphabetical order
ranked_team_df = team_df.sort_values(['feature_coef'],ascending=False)
# reset the indices at 0
ranked_team_df = ranked_team_df.reset_index(drop=True);
ranked_team_df.rename(columns={'feature':'team', 'feature_coef':'YUSAG_coef'}, inplace=True)
ranked_team_df['team'] = ranked_team_df['team'].str.replace('team_', '')

In [39]:
ranked_team_df

                          team  YUSAG_coef
0              Kunlun Red Star    7.463099
1                 Boston Pride    6.474246
2                    Wisconsin    6.270397
3                     Clarkson    5.781605
4                      Colgate    5.498382
5             Univ of Montreal    5.378402
6               Boston College    5.312325
7                    Minnesota    5.123966
8             Minnesota-Duluth    4.960040
9                      Queen's    4.707716
10                 Lake Forest    4.681842
11                  Ohio State    4.578467
12        Wisconsin-Eau Claire    4.553705
13                North Dakota    4.274715
14                     Cornell    4.134310
15               Bemidji State    4.100955
16                   MontrÃƒÂ©al    4.072502
17               Robert Morris    4.019327
18                  St. Thomas    3.962575
19                Northeastern    3.937235
20       Wisconsin-River Falls    3.862793
21                      Adrian    3.844385
22                St. Lawrence    3.786775
23                   Princeton    3.780434
24             St. Scholastica    3.650158
25                  Providence    3.591253
26            Minnesota Duluth    3.558549
27                     Hamline    3.557856
28                     Harvard    3.524409
29           Gustavus Adolphus    3.500256
..                         ...         ...
127                   Cortland   -3.180811
128                  HTI Stars   -3.302677
129              Buffalo State   -3.313653
130             Plymouth State   -3.425260
131             Manhattanville   -3.651988
132                    Potsdam   -3.660737
133                    Neumann   -3.728313
134  University of New England   -3.916938
135               Salve Regina   -4.293459
136                     Aurora   -4.526499
137             Southern Maine   -4.539570
138                    Chatham   -4.588501
139               Rhode Island   -5.091869
140              St. Michael's   -5.425533
141                  Carleton    -5.603125
142                Salem State   -5.612438
143            Johnson & Wales   -5.710038
144                     Becker   -5.941687
145                    Nichols   -6.159171
146            Saint Michael's   -6.452088
147        New England College   -6.585897
148          Johnson and Wales   -6.993742
149         Ottawa Jr Senators   -7.956636
150                       Post   -8.250642
151         Ottawa SenatorsU19   -8.291097
152             Lebanon Valley   -8.447336
153              Sault College   -9.325372
154                     King's   -9.638170
155                California   -12.837723
156             Daniel Webster  -13.996964

[157 rows x 2 columns]

In [40]:
ivy_team_names = ['Yale','Harvard','Princeton','Cornell','Brown','Columbia','Dartmouth','Penn']
ivy_ranked_team_df = ranked_team_df[ranked_team_df['team'].isin(ivy_team_names)]

In [41]:
ivy_ranked_team_df

          team  YUSAG_coef
14     Cornell    4.134310
23   Princeton    3.780434
28     Harvard    3.524409
57        Yale    2.067821
86   Dartmouth    0.258521
101      Brown   -0.742408

In [48]:
ECAC_team_names = ['Yale','Harvard','Princeton','Cornell','Brown','Columbia','Dartmouth','Penn',
                  'Clarkson','Colgate','Union','St. Lawrence','Quinnipiac','Rensselaer']
ECAC_ranked_team_df = ranked_team_df[ranked_team_df['team'].isin(ECAC_team_names)]

In [49]:
ECAC_ranked_team_df

             team  YUSAG_coef
3        Clarkson    5.781605
4         Colgate    5.498382
14        Cornell    4.134310
22   St. Lawrence    3.786775
23      Princeton    3.780434
28        Harvard    3.524409
35     Quinnipiac    3.241907
54     Rensselaer    2.386630
57           Yale    2.067821
74          Union    0.715965
86      Dartmouth    0.258521
101         Brown   -0.742408

In [51]:
ECAC_ranked_team_df.to_csv("ECAC_ranked_team_df")