In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [2]:
sixteen_df = pd.read_csv('./uscho_mens_games_2016.csv',header=None)
sixteen_df['season'] = pd.Series(2016, index=sixteen_df.index)

seventeen_df = pd.read_csv('./uscho_mens_games_2017.csv',header=None)
seventeen_df['season'] = pd.Series(2017, index=seventeen_df.index)

eighteen_df = pd.read_csv('./uscho_mens_games_2018.csv',header=None)
eighteen_df['season'] = pd.Series(2018, index=eighteen_df.index)
#drop games not yet played
eighteen_df = eighteen_df.dropna(subset=[9])

# put all the seasons together
df = pd.concat([sixteen_df,seventeen_df,eighteen_df],ignore_index=True)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,season
0,2016,Fri.,NaN,10/2/2015,7:07 AT,Mount Royal,NaN,NaN,Mount Royal,1.0,...,/team/alaska-anchorage/mens-hockey/,Alaska-Anchorage,0.0,NaN,NaN,EX,Box,NaN,NaN,2016
1,2016,Fri.,NaN,10/2/2015,7:00 AT,Mt. Royal,NaN,NaN,Mt. Royal,1.0,...,/team/alaska-anchorage/mens-hockey/,Alaska-Anchorage,0.0,NaN,NaN,EX,Box,NaN,NaN,2016
2,2016,Sat.,NaN,10/3/2015,7:05 ET,(20) Colgate,colgate,/team/colgate/mens-hockey/,(20) Colgate,5.0,...,/team/mercyhurst/mens-hockey/,Mercyhurst,2.0,NaN,NaN,NC,Box,NaN,NaN,2016
3,2016,Sat.,NaN,10/3/2015,7:00 MT,Arizona,NaN,NaN,Arizona,1.0,...,/team/arizona-state/mens-hockey/,Arizona State,8.0,NaN,NaN,EX,Box,NaN,NaN,2016
4,2016,Sat.,NaN,10/3/2015,7:00 ET,New Brunswick,NaN,NaN,New Brunswick,5.0,...,/team/boston-college/mens-hockey/,(1) Boston College,2.0,NaN,NaN,EX,Box,NaN,NaN,2016

In [4]:
df = df[[8,9,14,15,'season']]

In [5]:
df.head()

               8    9                  14   15  season
0    Mount Royal  1.0    Alaska-Anchorage  0.0    2016
1      Mt. Royal  1.0    Alaska-Anchorage  0.0    2016
2   (20) Colgate  5.0          Mercyhurst  2.0    2016
3        Arizona  1.0       Arizona State  8.0    2016
4  New Brunswick  5.0  (1) Boston College  2.0    2016

In [6]:
df = df.rename(columns={8: 'team', 9: 'teamscore', 14: 'opponent', 15: 'oppscore'})

In [7]:
df.head()

            team  teamscore            opponent  oppscore  season
0    Mount Royal        1.0    Alaska-Anchorage       0.0    2016
1      Mt. Royal        1.0    Alaska-Anchorage       0.0    2016
2   (20) Colgate        5.0          Mercyhurst       2.0    2016
3        Arizona        1.0       Arizona State       8.0    2016
4  New Brunswick        5.0  (1) Boston College       2.0    2016

In [8]:
df['weights'] = (df['season']-2012)
df['weights'] = df['weights'].apply(lambda x: math.factorial(x))

In [9]:
df.head()

            team  teamscore            opponent  oppscore  season  weights
0    Mount Royal        1.0    Alaska-Anchorage       0.0    2016       24
1      Mt. Royal        1.0    Alaska-Anchorage       0.0    2016       24
2   (20) Colgate        5.0          Mercyhurst       2.0    2016       24
3        Arizona        1.0       Arizona State       8.0    2016       24
4  New Brunswick        5.0  (1) Boston College       2.0    2016       24

In [10]:
df['location'] = 'V'

In [11]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,V
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,V
2,(20) Colgate,5.0,Mercyhurst,2.0,2016,24,V
3,Arizona,1.0,Arizona State,8.0,2016,24,V
4,New Brunswick,5.0,(1) Boston College,2.0,2016,24,V

In [12]:
import re

In [13]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,V
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,V
2,(20) Colgate,5.0,Mercyhurst,2.0,2016,24,V
3,Arizona,1.0,Arizona State,8.0,2016,24,V
4,New Brunswick,5.0,(1) Boston College,2.0,2016,24,V

In [14]:
df['team'] = df['team'].apply(lambda x: re.sub("[\(\[].*?[\)\]]", "", x))
df['team'] = df['team'].apply(lambda x: x.lstrip())

df['opponent'] = df['opponent'].apply(lambda x: re.sub("[\(\[].*?[\)\]]", "", x))
df['opponent'] = df['opponent'].apply(lambda x: x.lstrip())

In [15]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,V
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,V
2,Colgate,5.0,Mercyhurst,2.0,2016,24,V
3,Arizona,1.0,Arizona State,8.0,2016,24,V
4,New Brunswick,5.0,Boston College,2.0,2016,24,V

In [16]:
df['scorediff'] = (df['teamscore']-df['oppscore'])

In [17]:
df['location'] = df['location'].replace('V',-1)
df['location'] = df['location'].replace('N',0)
df['location'] = df['location'].replace('H',1)

In [18]:
df.head()

,team,teamscore,opponent,oppscore,season,weights,location,scorediff
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,-1,1.0
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,-1,1.0
2,Colgate,5.0,Mercyhurst,2.0,2016,24,-1,3.0
3,Arizona,1.0,Arizona State,8.0,2016,24,-1,-7.0
4,New Brunswick,5.0,Boston College,2.0,2016,24,-1,3.0

In [19]:
df1 = df.copy()
df1.head()

,team,teamscore,opponent,oppscore,season,weights,location,scorediff
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,-1,1.0
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,-1,1.0
2,Colgate,5.0,Mercyhurst,2.0,2016,24,-1,3.0
3,Arizona,1.0,Arizona State,8.0,2016,24,-1,-7.0
4,New Brunswick,5.0,Boston College,2.0,2016,24,-1,3.0

In [20]:
df1 = df1.rename(columns={'team': 'opponent', 'teamscore': 'oppscore', 'opponent': 'team', 'oppscore':'teamscore'})

In [21]:
df1.head()

,opponent,oppscore,team,teamscore,season,weights,location,scorediff
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,-1,1.0
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,-1,1.0
2,Colgate,5.0,Mercyhurst,2.0,2016,24,-1,3.0
3,Arizona,1.0,Arizona State,8.0,2016,24,-1,-7.0
4,New Brunswick,5.0,Boston College,2.0,2016,24,-1,3.0

In [22]:
df1['scorediff'] = df1['scorediff'].apply(lambda x: x*-1)
df1['location'] = df1['location'].apply(lambda x: x*-1)

In [23]:
df1.head()

,opponent,oppscore,team,teamscore,season,weights,location,scorediff
0,Mount Royal,1.0,Alaska-Anchorage,0.0,2016,24,1,-1.0
1,Mt. Royal,1.0,Alaska-Anchorage,0.0,2016,24,1,-1.0
2,Colgate,5.0,Mercyhurst,2.0,2016,24,1,-3.0
3,Arizona,1.0,Arizona State,8.0,2016,24,1,7.0
4,New Brunswick,5.0,Boston College,2.0,2016,24,1,-3.0

In [24]:
df.shape

(5210, 8)

In [25]:
df1.shape

(5210, 8)

In [26]:
df = pd.concat([df,df1],ignore_index=True)

In [27]:
df.head()

,location,opponent,oppscore,scorediff,season,team,teamscore,weights
0,-1,Alaska-Anchorage,0.0,1.0,2016,Mount Royal,1.0,24
1,-1,Alaska-Anchorage,0.0,1.0,2016,Mt. Royal,1.0,24
2,-1,Mercyhurst,2.0,3.0,2016,Colgate,5.0,24
3,-1,Arizona State,8.0,-7.0,2016,Arizona,1.0,24
4,-1,Boston College,2.0,3.0,2016,New Brunswick,5.0,24

In [28]:
df = df[~df.team.str.contains("/")]
df = df[~df.opponent.str.contains("/")]

In [29]:
# create dummy variables, need to do this in python b/c does not handle automatically like R
team_dummies = pd.get_dummies(df.team, prefix='team')
opponent_dummies = pd.get_dummies(df.opponent, prefix='opponent')

df = pd.concat([df, team_dummies, opponent_dummies], axis=1)

In [30]:
df.head()

,location,opponent,oppscore,scorediff,season,team,teamscore,weights,team_Acadia,team_Adrian,...,opponent_Williams,opponent_Windsor,opponent_Wisconsin,opponent_Wisconsin-Eau Claire,opponent_Wisconsin-River Falls,opponent_Wisconsin-Stevens Point,opponent_Wisconsin-Stout,opponent_Wisconsin-Superior,opponent_Worcester State,opponent_Yale
0,-1,Alaska-Anchorage,0.0,1.0,2016,Mount Royal,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,Alaska-Anchorage,0.0,1.0,2016,Mt. Royal,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,Mercyhurst,2.0,3.0,2016,Colgate,5.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,Arizona State,8.0,-7.0,2016,Arizona,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,Boston College,2.0,3.0,2016,New Brunswick,5.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df = df.dropna(subset=['scorediff','weights'])

In [32]:
# make the training data
X = df.drop(['team','opponent','teamscore','oppscore','season','weights','scorediff'], axis=1)
y = df['scorediff']
weights = df['weights']

In [33]:
X.head()

,location,team_Acadia,team_Adrian,team_Air Force,team_Alabama,team_Alabama Huntsville,team_Alabama-Huntsville,team_Alaska,team_Alaska Anchorage,team_Alaska-Anchorage,...,opponent_Williams,opponent_Windsor,opponent_Wisconsin,opponent_Wisconsin-Eau Claire,opponent_Wisconsin-River Falls,opponent_Wisconsin-Stevens Point,opponent_Wisconsin-Stout,opponent_Wisconsin-Superior,opponent_Worcester State,opponent_Yale
0,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge()
ridge_reg.fit(X, y, sample_weight=weights)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [35]:
# get the R^2 value
r_squared = ridge_reg.score(X, y, sample_weight=weights)
print('R^2 on the training data:')
print(r_squared)

R^2 on the training data:
0.401607657766

In [36]:
# get the coefficients for each feature
coef_data = list(zip(X.columns,ridge_reg.coef_))
coef_df = pd.DataFrame(coef_data,columns=['feature','feature_coef'])
coef_df.head()

          feature  feature_coef
0        location      0.326119
1     team_Acadia      1.761273
2     team_Adrian      1.803436
3  team_Air Force      3.104849
4    team_Alabama     -7.546807

In [37]:
# first get rid of opponent_ variables
team_df = coef_df[~coef_df['feature'].str.contains("opponent")]

# get rid of the location variable
team_df = team_df.iloc[1:]

In [38]:
# rank them by coef, not alphabetical order
ranked_team_df = team_df.sort_values(['feature_coef'],ascending=False)
# reset the indices at 0
ranked_team_df = ranked_team_df.reset_index(drop=True);
ranked_team_df.rename(columns={'feature':'team', 'feature_coef':'YUSAG_coef'}, inplace=True)
ranked_team_df['team'] = ranked_team_df['team'].str.replace('team_', '')

In [39]:
ranked_team_df

                             team  YUSAG_coef
0                 USA Junior Team    6.288802
1                          Denver    5.235057
2                Minnesota-Duluth    5.147723
3                 St. Cloud State    4.865971
4                    North Dakota    4.779626
5                       Minnesota    4.741000
6            Massachusetts-Lowell    4.716755
7                    Northeastern    4.670912
8                         Cornell    4.664748
9                         Harvard    4.650556
10                        Ryerson    4.650206
11                       Clarkson    4.478504
12               Western Michigan    4.450276
13              CCHL All-Graduate    4.289880
14                       Michigan    4.276366
15                Minnesota State    4.270456
16                     Notre Dame    4.206213
17                     Providence    3.997392
18                      Wisconsin    3.926802
19                          Omaha    3.877182
20                 Boston College    3.862804
21                   UMass Lowell    3.859493
22                     Ohio State    3.837960
23                          Miami    3.830689
24                          Union    3.823943
25                       Carleton    3.703178
26              Boston University    3.700946
27                  New Hampshire    3.681155
28                     Penn State    3.622187
29                  Bowling Green    3.550622
..                            ...         ...
193               Westfield State   -3.703534
194                 St. Michael's   -3.736827
195             Andrew Laurendeau   -3.767875
196                        King's   -3.908960
197                         Trine   -3.937211
198                     Stonehill   -3.950524
199                   Keene State   -3.953850
200                        Becker   -4.066368
201                       Chatham   -4.412485
202               UMass Dartmouth   -4.424414
203             So. New Hampshire   -4.455326
204                       Arizona   -4.474204
205               Franklin Pierce   -4.476142
206                       Liberty   -4.551646
207        Southern New Hampshire   -4.705686
208                    Assumption   -4.916564
209              Framingham State   -4.965131
210                      Victoria   -5.140033
211                     Finlandia   -5.162011
212              William Paterson   -5.637192
213             Champlain College   -5.671065
214  USA National University Team   -5.797499
215                  Rhode Island   -5.968638
216                Daniel Webster   -6.315209
217            Cegap Andre-Lauren   -6.789844
218                       Alabama   -7.546807
219                          Post   -8.660681
220                        Marist   -9.122670
221               Central Conn St  -13.279232
222               Post University  -15.362926

[223 rows x 2 columns]

In [40]:
ivy_team_names = ['Yale','Harvard','Princeton','Cornell','Brown','Columbia','Dartmouth','Penn']
ivy_ranked_team_df = ranked_team_df[ranked_team_df['team'].isin(ivy_team_names)]

In [41]:
ivy_ranked_team_df

         team  YUSAG_coef
8     Cornell    4.664748
9     Harvard    4.650556
33       Yale    3.443199
36  Princeton    3.264832
67  Dartmouth    2.268008
70      Brown    2.125024

In [42]:
ECAC_team_names = ['Yale','Harvard','Princeton','Cornell','Brown','Columbia','Dartmouth','Penn',
                  'Clarkson','Colgate','Union','St. Lawrence','Quinnipiac','Rensselaer']
ECAC_ranked_team_df = ranked_team_df[ranked_team_df['team'].isin(ECAC_team_names)]

In [43]:
ECAC_ranked_team_df

            team  YUSAG_coef
8        Cornell    4.664748
9        Harvard    4.650556
11      Clarkson    4.478504
24         Union    3.823943
30    Quinnipiac    3.548858
33          Yale    3.443199
36     Princeton    3.264832
46       Colgate    2.928177
62  St. Lawrence    2.543619
64    Rensselaer    2.512126
67     Dartmouth    2.268008
70         Brown    2.125024

In [44]:
ECAC_ranked_team_df.to_csv("ECAC_ranked_team_df")

I am now going to train a logistic regression model, so that we can do win probabilities.

I am going to use multinomial linear regression to get probabilities for the three classes (0=loss, 1=tie, 2=win)

Using the model to predict win probabilities
First, let's figure out how the predicted score differentials translate into percentages.

In [50]:
df['predicted_scorediff'] = ridge_reg.predict(X)

In [51]:
df.head()

,location,opponent,oppscore,scorediff,season,team,teamscore,weights,team_Acadia,team_Adrian,...,opponent_Windsor,opponent_Wisconsin,opponent_Wisconsin-Eau Claire,opponent_Wisconsin-River Falls,opponent_Wisconsin-Stevens Point,opponent_Wisconsin-Stout,opponent_Wisconsin-Superior,opponent_Worcester State,opponent_Yale,predicted_scorediff
0,-1,Alaska-Anchorage,0.0,1.0,2016,Mount Royal,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-1.246528
1,-1,Alaska-Anchorage,0.0,1.0,2016,Mt. Royal,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-1.160918
2,-1,Mercyhurst,2.0,3.0,2016,Colgate,5.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0.083768
3,-1,Arizona State,8.0,-7.0,2016,Arizona,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-6.732906
4,-1,Boston College,2.0,3.0,2016,New Brunswick,5.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-1.841514

In [52]:
df['predicted_scorediff'] = df['predicted_scorediff'].apply(lambda x: round(x,2))

In [53]:
df.head()

,location,opponent,oppscore,scorediff,season,team,teamscore,weights,team_Acadia,team_Adrian,...,opponent_Windsor,opponent_Wisconsin,opponent_Wisconsin-Eau Claire,opponent_Wisconsin-River Falls,opponent_Wisconsin-Stevens Point,opponent_Wisconsin-Stout,opponent_Wisconsin-Superior,opponent_Worcester State,opponent_Yale,predicted_scorediff
0,-1,Alaska-Anchorage,0.0,1.0,2016,Mount Royal,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-1.25
1,-1,Alaska-Anchorage,0.0,1.0,2016,Mt. Royal,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-1.16
2,-1,Mercyhurst,2.0,3.0,2016,Colgate,5.0,24,0,0,...,0,0,0,0,0,0,0,0,0,0.08
3,-1,Arizona State,8.0,-7.0,2016,Arizona,1.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-6.73
4,-1,Boston College,2.0,3.0,2016,New Brunswick,5.0,24,0,0,...,0,0,0,0,0,0,0,0,0,-1.84

I'm only going to train the point spread to percentages model on the most recent data b/c that's what the YUSAG prediction model is optimized for. I.e. the predictions are not great when you go back a couple of years since we weights more recent results more heavily.

In [75]:
# ignore warnings from pandas (sorry my code probably isn't idiomatic)
import warnings
warnings.filterwarnings('ignore')

In [55]:
last_year_df = df[df['season']==2018]

In [56]:
last_year_df.loc[last_year_df.scorediff > 0, 'result'] = 2 # win
last_year_df.loc[last_year_df.scorediff == 0, 'result'] = 1 # tie
last_year_df.loc[last_year_df.scorediff < 0, 'result'] = 0 # tie

/Users/matthewrobinson/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/matthewrobinson/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [58]:
last_year_df[['scorediff','predicted_scorediff','result']].head(20)

      scorediff  predicted_scorediff  result
4643       -6.0                -5.53     0.0
4644       -3.0                -0.20     0.0
4645       -4.0                -1.84     0.0
4646       -3.0                -3.00     0.0
4647       -2.0                -1.84     0.0
4648       -3.0                -2.18     0.0
4649        0.0                -2.21     1.0
4650        0.0                 0.55     1.0
4651       -8.0                -4.57     0.0
4652        3.0                 0.49     2.0
4653       -4.0                -0.31     0.0
4654        1.0                 0.52     2.0
4655       -8.0                -7.58     0.0
4656        1.0                 0.25     2.0
4657       -5.0                -4.84     0.0
4658       -1.0                 0.02     0.0
4659       -9.0                -4.76     0.0
4660       -1.0                -1.02     0.0
4661        1.0                -0.53     2.0
4662       -2.0                -2.42     0.0

Now use a logistic regression model to predict the result based on the predicted_scorediff

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
# make the training data
X = last_year_df['predicted_scorediff']
X = X.values.reshape(-1,1)
y = last_year_df['result']

In [66]:
log_reg = LogisticRegression()
# we create an instance of Neighbours Classifier and fit the data.
log_reg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [67]:
log_reg.score(X, y)

0.67989417989417988

In [72]:
log_reg.predict_proba(X)

array([[ 0.89386019,  0.09918965,  0.00695015],
       [ 0.48500639,  0.11369981,  0.4012938 ],
       [ 0.75600034,  0.10713597,  0.1368637 ],
       ...,
       [ 0.67187459,  0.11031113,  0.21781429],
       [ 0.22853747,  0.11064755,  0.66081498],
       [ 0.65596429,  0.11078944,  0.23324628]])

In [76]:
last_year_df['loss_prob'] = 0
last_year_df['loss_prob'] = log_reg.predict_proba(X)[:,0]

last_year_df['tie_prob'] = 0
last_year_df['tie_prob'] = log_reg.predict_proba(X)[:,1]

last_year_df['win_prob'] = 0
last_year_df['win_prob'] = log_reg.predict_proba(X)[:,2]

In [78]:
last_year_df[['scorediff','predicted_scorediff','loss_prob','tie_prob','win_prob']]

       scorediff  predicted_scorediff  loss_prob  tie_prob  win_prob
4643        -6.0                -5.53   0.893860  0.099190  0.006950
4644        -3.0                -0.20   0.485006  0.113700  0.401294
4645        -4.0                -1.84   0.756000  0.107136  0.136864
4646        -3.0                -3.00   0.842327  0.102615  0.055058
4647        -2.0                -1.84   0.756000  0.107136  0.136864
4648        -3.0                -2.18   0.788955  0.105574  0.105471
4649         0.0                -2.21   0.791515  0.105444  0.103041
4650         0.0                 0.55   0.330715  0.112968  0.556317
4651        -8.0                -4.57   0.884858  0.099832  0.015309
4652         3.0                 0.49   0.342458  0.113137  0.544405
4653        -4.0                -0.31   0.507824  0.113539  0.378637
4654         1.0                 0.52   0.336564  0.113055  0.550381
4655        -8.0                -7.58   0.899977  0.098741  0.001282
4656         1.0                 0.25   0.390954  0.113635  0.495411
4657        -5.0                -4.84   0.888136  0.099601  0.012263
4658        -1.0                 0.02   0.438894  0.113815  0.447291
4659        -9.0                -4.76   0.887239  0.099664  0.013097
4660        -1.0                -1.02   0.642709  0.111160  0.246131
4661         1.0                -0.53   0.552364  0.113026  0.334610
4662        -2.0                -2.42   0.807999  0.104581  0.087420
4663        -4.0                -4.10   0.877122  0.100369  0.022508
4664        -6.0                -4.70   0.886526  0.099715  0.013759
4665        -1.0                -0.80   0.603963  0.112099  0.283938
4666        -2.0                -3.80   0.870411  0.100824  0.028765
4667         0.0                -3.60   0.864954  0.101185  0.033861
4668        -2.0                -3.92   0.873291  0.100630  0.026079
4669        -1.0                -1.03   0.644391  0.111114  0.244495
4670        -2.0                -1.35   0.694337  0.109572  0.196091
4671        -8.0                -6.99   0.899109  0.098806  0.002086
4672        -1.0                -1.84   0.756000  0.107136  0.136864
...          ...                  ...        ...       ...       ...
10390       -6.0                -3.67   0.866963  0.101053  0.031984
10391       -4.0                -0.08   0.459888  0.113797  0.426315
10392       -1.0                -2.57   0.818340  0.104014  0.077647
10393       -0.0                 0.58   0.324912  0.112877  0.562210
10394       -1.0                -1.84   0.756000  0.107136  0.136864
10395       -3.0                -0.64   0.573863  0.112684  0.313453
10396       -4.0                -2.82   0.833222  0.103160  0.063618
10397        5.0                 3.78   0.029239  0.100857  0.869904
10398       -3.0                 1.06   0.239629  0.110976  0.649394
10399       -1.0                -2.31   0.799671  0.105023  0.095306
10400        2.0                 1.00   0.249426  0.111250  0.639324
10401       -0.0                -0.90   0.621978  0.111688  0.266333
10402        5.0                 1.81   0.139995  0.107281  0.752724
10403        3.0                 1.18   0.220840  0.110408  0.668752
10404        1.0                -0.20   0.485006  0.113700  0.401294
10405       -2.0                 0.83   0.278586  0.111979  0.609436
10406        3.0                 1.10   0.233246  0.110789  0.655964
10407        3.0                 1.79   0.142116  0.107378  0.750506
10408       -2.0                -2.32   0.800455  0.104982  0.094562
10409       -1.0                 0.16   0.409606  0.113741  0.476652
10410       -4.0                 0.89   0.268063  0.111731  0.620206
10411        3.0                 3.84   0.027841  0.100757  0.871402
10412       -0.0                 0.57   0.326841  0.112908  0.560251
10413       -0.0                 3.58   0.034417  0.101224  0.864359
10414       -2.0                 0.48   0.344432  0.113164  0.542404
10415       -1.0                 2.84   0.062607  0.103096  0.834296
10416        1.0                 3.18   0.047616  0.102127  0.850258
10417       -1.0                -1.20   0.671875  0.110311  0.217814
10418       -1.0                 1.13   0.228537  0.110648  0.660815
10419       -1.0                -1.10   0.655964  0.110789  0.233246

[1134 rows x 5 columns]